  $primary: #0d6efd;
  $danger: #dc3545;
  $success: #198754;
  $warning: #ffc107;
  $white: #fff;
  $info-dark: #7d8ea1;
  $info-light: #dce1eb;
  $dark: #363949;
  $light: rgba(132, 139, 200, 0.18);
  $primary-variant: #111e88;
  $dark-variant: #677483;
  $background: #f6f6f9;
  $overlay:rgba(33, 55, 75, 0.61);
  $background-trans:rgba(0, 0, 0, 0.616);

  $transition: all 300ms ease;

  