* {
    padding: 0;
    margin: 0;
    // box-sizing: border-box;
    @include prefixer(box-sizing,border-box,webkit moz o);
}
body{
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
ul{
    list-style: none;
    li{
        display: inline-block;
        a{
            text-decoration: none;
        }
    }
}

img{
    width: 100%;
}
a{
    text-decoration: none;
}
p{
    line-height: 1.6;
}
h1{
    font-size:50px;
}
h4{
    font-size: 20px;
}