.meeting{
    background-image: url("../../../images/meetings-page-bg.jpg");
    background-attachment:fixed;
    padding: 230px 0 100px 0;
    .meeting-content{
        padding-top: 50px;
        display: flex;
        gap:30px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        .categorie{
            flex:0 0 auto;
            width:33%;
            background-color: $white;
            padding: 20px;
            margin: 10px;
            border-radius: 10px;
            height: 350px;
            @media(max-width:991px) {
                width: calc(100% - 40px);
            }
            h2{
                margin:20px 0;
                font-size: 22px;
                
            }
            ul{
                display: flex;
                flex-direction: column;
                li{
                    padding: 10px 5px;
                    a{
                        color: $dark;
                        &:hover{
                            color:$warning;
                        }
                    }
                }
            }
            .btn{
                display: block;
                width: fit-content;
                text-align: center;
            }
        }
    }
    .new-lecture{
        flex: 1;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
        .lecture{
            width:calc(50% - 20px);
            cursor: pointer;
            margin: 20px 0 ;
            border-radius: 10px;
            background-color: $white;
            @media(max-width:991px){
                width: calc(50% - 20px);
                    flex: 0 0 auto;
            }
            @media(max-width:767px){
                width: calc(100% - 20px);
                    flex: 0 0 auto;
            }
            .image{
                position: relative;
                .price{
                    position: absolute;
                    top:10px;
                    left:10px;
                    background-color: $white;
                    padding: 5px 10px;
                    border-radius: 5px;
                    font-weight: bold;
                }
            }
            .lecture-body{
                display: flex;
                gap:10px;
                padding: 10px;
                .date{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    span{
                        font-weight: 700;
                        padding:5px 0;
                        &.month{
                            color:$danger;
                        }
                        &.day{
                            font-size: 20px;
                        }
                    }
                }
                .info{
                    p{
                        color:black
                    }
                }
            }
            &.two .lecture-body {
                        flex-direction: column;
                        align-items: start;
                        .info {
                                text-align: center;
                            }
                            .date{
                                    padding-left: 20px;
                                }
                    }
        }
    }
}

.applying{
    padding: 40px 0;
    background-image: url("../../../images/apply-bg.jpg");
    background-attachment: fixed;
    .content{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 50px;
        @media(max-width:991px){
            grid-template-columns:1fr;
        }
        .column {
                .apply{
                background-color: rgba(255, 255, 255, 0.466);
                padding: 20px;
                margin:20px 0;
                h2{
                    padding: 20px 0;
                }
                p{
                    color:$dark;
                    line-height: 1.8;
                }
                &.two{
                    a{
                        background-color: $warning
                    }
                }
            }

        }
        .questions-column{
            background-color: $white;
            padding: 30px;
            margin:0 20px;
            border-radius: 10px;
            @media(max-width:991px) {
                    margin: 0;
                    padding: 0;
                }
            .question-box{
                overflow: hidden;
                margin:20px 0;
                @media(max-width:991px) {
                        margin:0;
                        padding:10px;
                    }
                 h3{
                padding: 10px 0;
                cursor: pointer;
                    .fa-chevron-right{
                        display: inline-block;
                    }
                .fa-chevron-down{
                        display: none;
                    }
                }
                p{
                    color: $dark;
                    height:0;
                    overflow: hidden;
                    transition: $transition;
                }
                &.active p{
                    height: auto;
                }
                &.active h3{
                    color:$warning;
                    .fa-chevron-right{
                        display: none;
                    }
                    .fa-chevron-down{
                        display: inline-block;
                    }
                }
            }
        }
    }
}

.courses{
    background-image: url("../../../images/heading-bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    padding: 40px 0;
    .courses-slider{
        position: relative;
        margin: 20px;
        .boxes{
            position: relative;
            height:450px;
            max-width:900px;
            margin:auto;
            overflow: hidden;
            @media(max-width:767px){
                height: 600px;
            }
            .box{
                position: absolute;
                top: 0;
                right:0;
                transition: $transition;
                width:calc(100% / 3 - 20px);
                background-color: white;
                margin:10px;
                &:nth-child(2){
                    right:calc(100% / 3)
                }
                &:nth-child(3){
                    right:calc(100% / 3 * 2)
                }
                &:nth-child(4){
                    right:calc(100% / 3 * 3)
                }
                &:nth-child(5){
                    right:calc(100% / 3 * 4)
                }
                &:nth-child(6){
                    right:calc(100% / 3 * 5)
                }
                &:nth-child(7){
                    right:calc(100% / 3 * 6)
                }
                &:nth-child(8){
                    right:calc(100% / 3 * 7)
                }
                @media(max-width:991px){
                    width: calc(100% / 2 - 20px);
                    &:nth-child(2) {
                            right: calc(100% / 2)
                        }
                    
                        &:nth-child(3) {
                            right: calc(100% / 2 * 2)
                        }
                    
                        &:nth-child(4) {
                            right: calc(100% / 2 * 3)
                        }
                    
                        &:nth-child(5) {
                            right: calc(100% / 2 * 4)
                        }
                    
                        &:nth-child(6) {
                            right: calc(100% / 2 * 5)
                        }
                    
                        &:nth-child(7) {
                            right: calc(100% / 2 * 6)
                        }
                    
                        &:nth-child(8) {
                            right: calc(100% / 2 * 7)
                        }
                }
                @media(max-width:767px){
                    width: calc(100% - 20px);
                    &:first-child{
                        right:0;
                    }
                    &:nth-child(2) {
                            right: calc(100% )
                        }
                    
                        &:nth-child(3) {
                            right: calc(100% * 2)
                        }
                    
                        &:nth-child(4) {
                            right: calc(100% * 3)
                        }
                    
                        &:nth-child(5) {
                            right: calc(100% * 4)
                        }
                    
                        &:nth-child(6) {
                            right: calc(100% * 5)
                        }
                    
                        &:nth-child(7) {
                            right: calc(100% * 6)
                        }
                    
                        &:nth-child(8) {
                            right: calc(100% * 7)
                        }
                }
                .box-body{
                    padding: 20px;
                    .price-section{
                        padding:10px 0;
                        display: flex;
                        justify-content: space-between;
                        .stars{
                            li{
                                i{
                                    color:$warning;
                                }
                            }
                        }
                        .price{
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}
.university{
    padding: 40px 0;
    background-image: url(../../../images/facts-bg.jpg);
    background-attachment: fixed;
    .content{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        @media(max-width:991px){
            grid-template-columns: 1fr;
        }
        .one{
            h1{
                color:$white;
                @media(max-width:767px) {
                       font-size: 20px;
                    }
            }
            .boxes{
                display: grid;
                grid-template-columns: repeat(2,1fr);
                gap:20px;
                .col-box{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin:20px 0;
                    &:last-child{
                        padding-top: 40px;
                    }
                    .box{
                        background-color: rgba(236, 231, 219, 0.459);
                        text-align: center;
                        padding: 20px;
                        margin: 10px;
                        border-radius: 10px;
                        width:100%;
                        @media(max-width:767px){
                            padding: 10px 0px;
                        }
                        .number{
                            color:$warning;
                            font-size: 40px;
                            margin-bottom: 20px;
                            @media(max-width:767px) {
                                   font-size: 20px;
                                }
                        }
                        h3{
                            color:$white;
                            @media(max-width:767px) {
                                    font-size: 18px;
                                }
                        }
                    }
                }
            }
        }
        .two{
            display: flex;
            justify-content: center;
            align-items: center;
            video{
                width:90%;
                border-radius: 10px;
            }
        }
    }
}

.contact-us{
    padding:40px 0 ;
    background-image: url(../../../images/meetings-bg.jpg);
    background-attachment: fixed;
    .content{
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap:20px;
        @media(max-width:991px){
            grid-template-columns: 1fr;
        }
            .form{
                h3{
                font-size: 30px;
                color:$white;
                margin: 20px 0;
                @media(max-width:991px) {
                        text-align: center;
                    }
            }
            .contact-form{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    gap:20px;
                        input:not(:last-child){
                        padding:10px;
                        border-radius: 20px;
                        width:calc(100% / 3 - 20px);
                        @media(max-width:991px){
                            width:calc(100% - 20px);
                            margin :auto
                        }
                        &:focus{
                            outline:none;
                        }
                    }
                    input[type='submit']{
                            cursor: pointer;
                            border: none;
                            margin:20px;
                            @media(max-width:991px) {
                                    margin:auto;
                                }
                        }
                    textarea{
                        resize: none;
                        width:calc(100% - 20px);
                        margin: auto;
                        border-radius: 20px;
                        padding:20px;
                        &:focus {
                                outline: none;
                            }
                    }
                }
        }
        
    }
    .address-info{
        background-color: $danger;
        border-radius: 20px;
        .box{
            color:$white;
            padding: 20px 0;
            margin:20px;
            &:not(:last-child){
                border-bottom: 1px solid $info-dark;
            }
            .name{
                font-size: 20px;
                font-weight: bold;
            }
            .info{
                font-size: 18px;
            }
        }
    }
}
